body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0% auto;
    width: 100vw;
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #cc0637;
}

header {
    display: flex;
    justify-content: center;
    padding: 5%;
}

h2 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.starter-img {
    width: 22vw;
    border: 1vw solid black;
    border-radius: 27%;
    margin: 4vw;
}

.about-me {
    text-align: center;
    padding: 10%;
}

.portrait {
    width: 50vw;
    border-radius: 50%;
}

footer {
    text-align: center;
    font-size: 2rem;
    width: 100vw;
}

@media (min-width: 600px) {
    header {
        padding: 0%;
    }
    .gallery {
        width: 70vw;
        margin: 0px 15vw;
    }

    .starter-img {
        width: 7vw;
        border: .3vw solid black;
        border-radius: 25%;
        margin: 2vw;
    }
    .portrait {
        width: 20vw;
        border-radius: 50%;
    }
}