body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #cc0637;
}

header {
    text-align: center;
    padding: 5% 5% 0% 5%;
}

.logo {
    max-width: 70vw;
    margin: 0 auto;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
}

h2 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    margin: 0 auto;
}

.starter-img {
    width: 70%;
    border: 1vw solid black;
    border-radius: 27%;
    margin: 4vw;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.678);
}

.about-me {
    text-align: center;
    padding: 10%;
}

.portrait {
    width: 50vw;
    border: 1vw solid black;
    border-radius: 50%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.678);
}

footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 5%;
}

@media (min-width: 600px) {
    header {
        padding: 2%;
    }
    .logo {
        font-size: 3rem;
        cursor: default;
    }
    .gallery {
        width: 70%;
        grid-template-columns: 20fr 20fr 20fr 20fr 20fr;
    }
    .starter-img {
        width: 80%;
        border: .3vw solid black;
        border-radius: 25%;
        margin: 2vw auto;
    }
    .starter-img:hover {
        cursor: pointer;
    }
    .portrait {
        width: 20vw;
        border: .3vw solid black;
        border-radius: 50%;
    }
    .my-description {
        font-size: 1rem;
    }
}