.hide {
    display: none;
}

body {
    margin: 0% auto;
    background-image: url(../img/background.jpeg);
    color: #cc0637;
}

header {
    text-align: center;
    padding: 5% 5% 0% 5%;
}

.logo {
    max-width: 70vw;
    margin: 0 auto;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
}

main {
    text-align: center;
}

canvas {
    width: 90vw;
    height: 90vw;
    margin: 5vw;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.678);
}

.txt {
    display: inline;
    width: 40px;
    height: 40px;
}

.tool {
    font-size: 1.5em;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.678);
}

.about-me {
    text-align: center;
    padding: 10%;
}

.portrait {
    width: 50vw;
    border: 1vw solid black;
    border-radius: 50%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.678);
}

footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 5%;
}

.screen {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
}

.modal {
    position: fixed;
    top: 0;
    width: 60vw;
    height: 60vw;
    margin: 5vh 20vw 10vh 20vw;
}

.finished-meme {
    width: 100%;
    height: 100%;
}

/* ---Desktop--- */

@media (min-width: 600px) {
    header {
        padding: 0%;
    }
    main {
        display: grid;
        grid-template-columns: 45fr 45fr;
    }
    canvas {
        width: 40vw;
        height: 40vw;
        margin: 5%;
        padding: 0;
    }
    .tools {
        margin: 5%;
    }
    .modal {
        width: 60vh;
        height: 60vh;
        margin: 10vh 20vh;
    }
    .about-me {
        padding-bottom: 0%;
    }
    .portrait {
        width: 20vw;
        border: .3vw solid black;
        border-radius: 50%;
    }
}