.hide {
    display: none;
}

body {
    margin: 0% auto;
    width: 100vw;
    background-image: url(../img/background.jpeg);
    color: #cc0637;
}

header {
    display: flex;
    justify-content: center;
    padding: 5%;
}

main {
    text-align: center;
}

canvas {
    width: 90vw;
    height: 90vw;
    padding: 5vw;
}

.txt {
    display: inline;
    width: 40px;
    height: 40px;
}

.about-me {
    text-align: center;
    padding: 10%;
}

.portrait {
    width: 50vw;
    border-radius: 50%;
}

footer {
    text-align: center;
    font-size: 2rem;
    width: 100vw;
}

.screen {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
}

.modal {
    position: fixed;
    top: 0;
    width: 60vw;
    height: 60vh;
    margin: 5vh 20vw 10vh 20vw;
}

.finished-meme {
    width: 60vw;
    height: 60vw;
    /* margin: 10vh 10vw 0px 10vw; */
}

@media (min-width: 600px) {
    header {
        padding: 0%;
    }
    
    canvas {
        width: 30vw;
        height: 30vw;
        padding: 0px;
    }

    .tools {
        padding-top: 3%;
    }
    .about-me {
        padding-bottom: 0%;
    }

    .portrait {
        width: 20vw;
        border-radius: 50%;
    }    
}